<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WsLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <WsLib.Properties.Settings>
            <setting name="WsLib_co_com_acesco_erpqa_ZWS_ONBASE" serializeAs="String">
                <value>https://erpqa.acesco.com.co:44300/sap/bc/srt/rfc/sap/zws_onbase/500/zws_onbase/zws_onbase_bind</value>
            </setting>
        </WsLib.Properties.Settings>
    </applicationSettings>
</configuration>